[Unit]
Description=gunicorn daemon for /data/www/app.py, uncomment --reload to put in develper friendly mode
After=network.target

[Service]
User=pi
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/data/www/
ExecStart=/usr/local/bin/gunicorn --bind=unix:/tmp/gunicorn.sock --workers=4 --log-file /var/log/gunicorn.log app:app --reload # comment out --reload when puashed to deployment
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
